__pycache__/

*.pyc
*.json

python-deduckt.json
types
rb2nim
ast_dsl
compiler
langcop
test/nim
test/ruby
test/each
test/loop
test/map
test/class
test/if
test/select
test/all
test/any
test/index
test/modify
test/string_methods
test/var
!rubocop.json
!test.json